data_ingestion/AWS_State_Machine.json
{
  "StartAt": "Ingest Posts",
  "States": {
"Ingest Posts": {
  "Type": "Task",
  "Resource": "arn:aws:states:::lambda:invoke",
  "Parameters": {
    "FunctionName": "arn:aws:lambda:us-east-1:290321588373:function:ingesting_posts:$LATEST",
    "Payload": {
      "calendar_id.$": "$.calendar_id"
    }
  },
  "ResultPath": null,
  "Next": "Transform Posts"

},
    "Transform Posts": {
  "Type": "Task",
  "Resource": "arn:aws:states:::lambda:invoke",
  "Parameters": {
    "FunctionName": "arn:aws:lambda:us-east-1:290321588373:function:transforming_posts:$LATEST",
    "Payload": {
      "calendar_id.$": "$.calendar_id"
    }
  },
  "Next": "Pass Role Group",
  "ResultPath": null
},
    "Pass Role Group": {
  "Type": "Pass",
  "Next": "Score Posts",
      "Result":{
        "role_group_id":1
      },
      "ResultPath": "$.role_group_id"
},
    "Score Posts": {
  "Type": "Task",
  "Resource": "arn:aws:states:::lambda:invoke",
  "Parameters": {
    "FunctionName": "arn:aws:lambda:us-east-1:290321588373:function:scoring_posts:$LATEST",
    "Payload": {
      "calendar_id.$": "$.calendar_id",
      "role_group_id.$": "$.role_group_id.role_group_id"
    }
  },
  "End":true
}
  }
}
