data_ingestion/AWS_State_Machine.json
{
  "StartAt": "Get Latest Month",
  "States": {
    "Get Latest Month": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${LatestMonthArn}"
      },
      "ResultPath": "$",
      "Next": "Ingest Posts"
    },
    "Ingest Posts": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${IngestingPostsArn}",
        "Payload": {
          "calendar_id.$": "$.calendar_id"
        }
      },
      "ResultPath": null,
      "Next": "Transform Posts"
    },
    "Transform Posts": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${TransformingPostsArn}",
        "Payload": {
          "calendar_id.$": "$.calendar_id"
        }
      },
      "Next": "Score Posts",
      "ResultPath": null
    },
    "Score Posts": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ScoringPostsArn}",
        "Payload": {
          "calendar_id.$": "$.calendar_id"
        }
      },
      "End": true
    }
  }
}